[submodule "learn-projects/dumpster"]
	path = learn-projects/dumpster
	url = git@github.com:claytonwramsey/dumpster.git
[submodule "learn-projects/ChezScheme"]
	path = learn-projects/ChezScheme
	url = git@github.com:cisco/ChezScheme.git
[submodule "learn-projects/bdwgc"]
	path = learn-projects/bdwgc
	url = git@github.com:bdwgc/bdwgc.git
