[submodule "learn-projects/dumpster"]
	path = learn-projects/dumpster
	url = git@github.com:claytonwramsey/dumpster.git
[submodule "learn-projects/ChezScheme"]
	path = learn-projects/ChezScheme
	url = git@github.com:cisco/ChezScheme.git
[submodule "learn-projects/bdwgc"]
	path = learn-projects/bdwgc
	url = git@github.com:bdwgc/bdwgc.git
[submodule "learn-projects/gc-arena"]
	path = learn-projects/gc-arena
	url = git@github.com:kyren/gc-arena.git
[submodule "learn-projects/tokio-rs"]
	path = learn-projects/tokio-rs
	url = git@github.com:tokio-rs/tokio.git
[submodule "learn-projects/v8"]
	path = learn-projects/v8
	url = git@github.com:v8/v8.git
